.linkButton {
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: 1px outset rgb(255, 255, 255, 0.3);
    background-color: rgb(255, 255, 255, 0.3);
    padding: 8px 20px;
    margin-top: 5px;
    font-size: 18px;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    z-index: 0; /* Base location for Home section content */
}

.bgdImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10; /* Ensures bgd image is behind home content */
    background-image: url("../../assets/notebooks-bgd.webp");
    background-size: cover; /* Fills entire bgd area */
    background-position: center;
    background-repeat: no-repeat;
}

.section h1 {
    font-size: 40px;
    color: black;
    text-shadow: 1px 1px 2px lightgray;
}