.section {
    display: flex;
    flex-direction: column;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.shopGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}