.nav {
    box-sizing: border-box;
    position: fixed;
    min-width: 100%;
    background-color: white;
    top: 0;
    display: flex;
    font-size: clamp(16px, 2vw, 20px);
    padding: 25px 0 10px;
    padding-left: clamp(30px, 5vw, 50px);
    padding-right: clamp(30px, 5vw, 50px);
    z-index: 10; /* Ensures Navbar is not covered by Home bgd img */
}

.ul {
    flex: 1;
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    cursor: pointer;
    color: #e9a1b9;
}

.cartContainer {
    position: relative;
    display: inline-block;
}

.cart {
    width: clamp(20px, 2.5vw, 25px);
    height: auto;
    padding-right: 15px;
}

.badge {
    position: absolute;
    top: -9px;
    right: 5px;
    padding: 4px 7px;
    border-radius: 50%;
    background: #e9a1b9;
    color: white;
    font-size: clamp(0.6rem, 1.2vw, 0.75rem);
    font-weight: bold;
}
