.nav {
    box-sizing: border-box;
    position: fixed;
    min-width: 100%;
    background-color: white;
    top: 0;
    display: flex;
    font-size: 20px;
    padding: 25px 50px 10px;
}

.ul {
    flex: 1;
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    cursor: pointer;
    color: #e9a1b9;
}

.cart {
    max-width: 25px;
    height: auto;
    padding-right: 15px;
}

.badge {
    position: absolute;
    top: 12px;
    right: 50px;
    padding: 5px 9px;
    border-radius: 50%;
    background: #e9a1b9;
    color: white;
    font-size: 14px;
    font-weight: bold;
}