/* Grid child card */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

/* Contains all card content except button */
.cardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
}

/* Wraps the image element */
.span {
    height: 250px; /* Sets a max height on the wrapper img is forced to fit */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    box-sizing: border-box;
}

/* Contains title and price */
.cardText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: bold;
    flex-grow: 1;
}

/* Image span and card text get equal padding */
.span, .cardText {
    /* Shrinks padding for smaller devices, 4vw = 40px on larger screens */
    padding-left: clamp(10px, 4vw, 40px);
    padding-right: clamp(10px, 4vw, 40px);
}

.price {
    /* clamp padding to shrink on smaller devices */
    padding-top: clamp(10px, 3vw, 30px); /* preferred value 3vw is about 30px */
    padding-bottom: clamp(20px, 5vw, 50px); /* 5vw is about 50px */
    font-size: 30px;
    margin-top: auto;
}

/* Add to cart button */
.button {
    background-color: #e9a1b9;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px outset #e9a1b9;
    border-radius: 2px;
    padding: 18px;
    width: 100%;
}

.button:hover {
    cursor: pointer;
    background-color: #cc7b96;
}