.card {
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img {
    max-width: 100px;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardText {
    font-weight: bold;
}

.price {
    color: #e9a1b9;
}