* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

nav, footer {
    background-color: lightgray;
}

nav {
    display: flex;
}

nav ul {
    flex: 1;
    display: flex;
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}